
.centro-pantalla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 50vh; /* Establece una altura máxima para el contenedor */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura máxima */
}

.texto-movible {
  position: absolute;
  bottom: 50px;
  right: 100px;
}

.contenedordos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ancho del contenedor */
  max-width: 1000px; /* Ancho máximo del contenedor */
  padding: 20px; /* Espacio interno */
  box-sizing: border-box; /* Incluir padding en el ancho */
  background-color: #ffffff; /* Color de fondo */
  border: 1px solid #ffffff; /* Borde del contenedor */
}


  .contenedor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%; /* Ancho del contenedor */
    max-width: 1000px; /* Ancho máximo del contenedor */
    padding: 20px; /* Espacio interno */
    box-sizing: border-box; /* Incluir padding en el ancho */
    background-color: #ffffff; /* Color de fondo */
    border: 1px solid #ffffff; /* Borde del contenedor */
  }

  .button {
      position: absolute;
      top: 4%;
      left: 5%;
      margin-left: 20px;
  }