.section1{
    display: flex;
    width: 600px;
    height: 430px;
}

.section1 img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 100;
    transition: .5s ease;
}

.section1 img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


.section2{
    display: flex;
    width: 600px;
    height: 430px;
}

.section2 iframe{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 100;
    transition: .5s ease;
}

.section2 iframe:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}