.contenedor {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  
  .contenedor img {
    width: 100%;
    height: auto;
  }
  


  .container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 5px;
    background-color: #c2bdbd04;
}

h1 {
	text-align: center;
	margin-top: 0;
    
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input,
textarea {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

button[type="submit"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.success {
	background-color: #646965;
	color: #000000;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
  bodys {
    background-image: radial-gradient( circle 767px at 10.2% 22.1%,  rgba(11,218,81,1) 0%, rgba(0,191,255,1) 90% );
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  
  .buttonss a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttonss a:hover {
    transform: scale(1.2);
  }